

*{
    --primary-color:#0F0F0F;
    --secondary-color:#232D3F;
    --accent-color-one:#005B41;
    --accent-color-two:#008170;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}
html,body{
    height: 100%;
    background-color:var(--primary-color);
    color: var(--accent-color-two);
    
}

/* Splash Screen -------------------------------*/
#body-splash{
    
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform();
    animation: hide-splash-screen 1.5s linear 9s normal forwards;
}
#splash-div-background{
    position: relative;
    width: 18rem;
    height: 20%;
    padding-left: 4px;
    border-radius: 4%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;

}
.splash-text{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    width: fit-content;
    text-align: center;

    border-right: 2px solid transparent;
}

#splash-text-span-one{
   
    animation: typewriter 4s steps(79) normal both,
               
             splash-text-blink-cursor-animation 500ms steps(79) infinite both,
             border-final-color 0s linear 4s  normal forwards;

}
#splash-text-span-two{
    animation: typewriter 4s steps(79) 4s normal both,
             splash-text-blink-cursor-animation 500ms steps(44) 4s infinite both,
             border-final-color 0s linear 8s  normal forwards;
        
}
@keyframes typewriter{
    from{width: 0%;}
    to{width: 100%;}
  }
@keyframes splash-text-blink-cursor-animation {
    from{
        border-right-color: transparent;
    }
    to{
        border-right-color: red;
    }
}
@keyframes border-final-color {
    from{}
    to{border-right-color: transparent;}
}

@keyframes hide-splash-screen {
    from{height: 100%;}
    to{
        height: 0%;
    }
}

/* SplashScreen Ends here -----------------*/

/* Navbar starts here ----------------- */
#navbar{
    height: 7%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
   
}

#home-navbar{
    align-self: center;
    line-height: 50%;
    font-size: 30px;
    margin-left: 1%;
    transition: 100ms ease;
    
}
#home-navbar:hover{
    transform: scale(.8);
}


#other-options-list{
    display: flex;
   
    width: 20%;
    font-size: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    
}
.menu-items-list{
    transition: 100ms ease;
}

.menu-items-list:hover{
    transform: scale(.8);
}


/* Navbar -ends -------------------- */



#bio{

    height: 40%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--secondary-color);
    margin-left: 1%;
    margin-right: 1%;

}

#bioImage-div{
    margin: 2%;
    border-radius: 100%;
    width: 20%;
    display: flex;
   align-items: center;
    flex-direction: column;
}
#bio-image{
     aspect-ratio: 1/1;
   

    height: 100%;
     border-radius: 100%;
}
#stats-image{
    margin-top: 2%;
    margin-bottom: 2%;
    height: 80%;
}

#uselang-image{
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 80%;


}
#projects{
    height: 40%;
    width: 100%;
    display: flex;
    margin-top: 5%;
    flex-direction: row;
}
.project-outer-container{
    overflow: hidden;
    width: 50%;
   
    margin: 2%;
    display: flex;
    flex-direction: column-reverse;

    align-items: flex-end;
   
    background-color: #D2E9E9;
    

}   

.project-inner-container{
    height: 60%;
    width: 100%;
 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C4DFDF;

    border-top: 4px solid #7cb4b4;
    transition: height 1s;
    

}

.mcDKR{
   aspect-ratio: 1/1;
    height: 60%;  
}


.project-outer-container:hover > .project-inner-container{
    height: 20%;
}

#python-projects{
    width: 100%;
    display: table;
}

.C2j3L{
    display: flex;
    flex-direction: row;
}

/* Individual projects classes */
.dC3nv{
    width: 33.33%;
    height: 20px;
    padding: 4%;
}
.soial-icons{
    display: flex;
    flex-direction: row;
    list-style: none;
    
}
.social-images{
    height: 15px;
    width: 15px;
    margin-left: 10%;
    margin-right: 10%;
    transition: 50ms ease;
}
.social-images:hover{
    transform: scale(.7);
}


@media (max-width:840px) {
    #bio{
        display: flex;
        align-items: center;
        flex-direction:column;
        overflow: scroll;
    }

    #bio-image{
        height: auto;
        width: 100%;
        
    }
    #projects{
        flex-direction: column;
        overflow: scroll;
        width: 100%;
        height: 40%;
        
    }
    #stats-image{
        width: 80%;
    }
    
    #uselang-image{
        width: 80%;
    }
    .project-outer-container{
        height: 50%;
        width: 100%;
    }
    
}









